.fileSelectionView {
    padding: var(--spacing-sm);
}

.files {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--spacing-md);
}

.noAnalyses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
    background-color: var(--color-bg-accent-light);

    font-size: var(--font-size-lg);
}

.newFileLink {
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--border-radius);
    color: var(--color-white);
    background-color: var(--color-primary);
    display: flex;
    align-items: center;

    gap: var(--spacing-xs);

    white-space: nowrap;
    text-decoration: none;

    margin-bottom: var(--spacing-md);

    &:hover {
        background-color: var(--color-secondary);
    }
}
