.newFileView {
  padding: var(--spacing-sm);


  h1 {
    margin: 0 0 var(--spacing-md) 0;
  }

  form {
    > * + * {
      margin-top: var(--spacing-sm);
    }

    fieldset {
      border: none;
      padding: 0;
      margin: 0;
    }
  }

  legend, figcaption {
    font-size: var(--font-size-lg);
    font-weight: 700;
    margin-bottom: var(--spacing-sm);
  }

  label {
    font-size: var(--font-size-lg);
    margin-bottom: var(--spacing-xs);
  }
}

.videoPreview {
  width: 100%;
  max-width: 650px;

  height: auto;

  border-radius: var(--border-radius);
}

.inputSection {
  display: flex;
  flex-direction: column;
}

.filePathIndicator {
  font-size: var(--font-size-xs);
  color: var(--color-gray-700);
  margin-top: var(--spacing-xxs);
  width: 100%;
  border: none;
  background: none;
  padding: 0;
}

.filePathIndicator:focus {
  outline: none;
}

.videoPreviewContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: var(--spacing-md);


  video {
    margin-bottom: var(--spacing-sm);
  }
}

.eventRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--spacing-xs);
}

.events {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  align-items: flex-start;
}

.selectVideoButton {
  background-color: var(--color-secondary);
}

.submitButton {
  margin-top: var(--spacing-md);
}