.rawEventPanel {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  gap: var(--spacing-sm);
  padding: var(--spacing-md) 0;


  height: 100vh;
  overflow: hidden;
  width: 0;

  border-radius: var(--border-radius);

  transition: width 0.3s, padding 0.3s;

  &[data-open="true"] {
    width: 30rem;
    min-width: min-content;

    padding: var(--spacing-md);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      white-space: nowrap;
    }

    button {
      background-color: var(--color-secondary);
    }
  }

  .deleteButton {
    background-color: var(--color-negative);
    padding: var(--spacing-xs);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  th, td {
    padding: var(--spacing-xs);
    text-align: left;
    border-bottom: 1px solid var(--color-gray-300);


    white-space: nowrap;
  }

  th {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
}

.tableContainer {
  overflow-y: scroll;
  max-height: 100%;
  min-width: min-content;
  width: 100%;

  --scrollbar-width: 5px;
  scrollbar-width: var(--scrollbar-width);

  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
    background-color: var(--color-gray-100);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-300);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-gray-100);
  }

  &::-webkit-scrollbar-corner {
    background-color: var(--color-gray-100);
  }

  &::-webkit-scrollbar-button {
    background-color: var(--color-gray-100);
  }

  &::-webkit-scrollbar-track-piece {
    background-color: var(--color-gray-100);
  }

  &::-webkit-scrollbar-thumb:vertical {
    background-color: var(--color-gray-300);
  }

  &::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--color-gray-300);
  }

  &::-webkit-scrollbar-corner {
    background-color: var(--color-gray-100);
  }

  &::-webkit-scrollbar-button {
    background-color: var(--color-gray-100);
  }

  &::-webkit-scrollbar-track-piece {
    background-color: var(--color-gray-100);
  }

  &::-webkit-scrollbar-thumb:vertical {
    background-color: var(--color-gray-300);
  }

  &::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--color-gray-300);
  }


}

